* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

p {
  font-weight: 300;
  color: #1111;
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 20px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.logo {
  /*color: #fff;*/
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}

.logo span {
  color: #fb911f;
}

.navbar {
  display: flex;
  position: relative;
}
.navbar li {
  list-style: none;
}
.navbar a {
  /*color: #fff; */
  text-decoration: none;
  margin-left: 30px;
  font-weight: 700;
}

.btn-Reserve {
  padding: 10px 20px;
  background: #fb911f;
  margin-top: -10px;
  text-transform: uppercase;
}

.btn-Reserve:hover {
  background: #fb911f;
  transition: ease-in-out;
}

header .navbar li a:hover {
  color: #fb911f;
  border-bottom: 2px solid #fb911f;
}
